html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("photos/background.jpeg");
}

h1 {
    color: darkslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text1 {
    width: 50%;
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
    height: 340%;
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
  }

  .flex-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
.col-left {
    height: 100%;
    width: 48%;
    flex-direction: row;
    flex-shrink: 0;
    gap: 30px;
  }
.col-right {
    height: 100%;
    width: 48%;
    flex-direction: row;
    flex-shrink: 0;
    gap: 30px;
  }

.pic-box {
    height: 320px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }

.s1{
    position  : absolute;
    font-size : 20pt;
    color: silver;
    visibility: hidden;
    }
            
.s2 {
    position: absolute;
    font-size: 36pt;
    color: pink;
    visibility: hidden;
    }
            
.s3{
    position: absolute;
    font-size: 28pt;
    color: red;
    visibility: hidden;
    }
            
.s4 {
    position: absolute;
    font-size: 24pt;
    color: purple;
    visibility: hidden;
    }

.yes {
    color: darkslategray;
    background-color: pink;
    width: 200px
}

.no {
    color: pink;
    background-color: darkslategray;
    width: 20px;
    font-size: 5pt;
}
