html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("photos/background.jpeg");
}

h1 {
    color: darkslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text1 {
    width: 50%;
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
    display: flex;
    justify-content:center;
    flex-direction: column;
    
  }

  .flex-grid {
    align-self: center;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   

   

  }
.col-left {
    height: fit-content;
    width: 48%;
    flex-direction: column;
    gap: 30px;
 
  }
.col-right {
    height: fit-content;

    width: 48%;
    flex-direction: column;
    gap: 30px;
  }

.pic-box {
    margin: 10px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    

    img{
        border-radius: 20px;
        width: 50%;
        height: 100%;
        
    }
  }

iframe{
    margin: 10px;
}

.s1{
    position  : absolute;
    font-size : 20pt;
    color: silver;
    visibility: hidden;
    }
            
.s2 {
    position: absolute;
    font-size: 36pt;
    color: pink;
    visibility: hidden;
    }
            
.s3{
    position: absolute;
    font-size: 28pt;
    color: red;
    visibility: hidden;
    }
            
.s4 {
    position: absolute;
    font-size: 24pt;
    color: purple;
    visibility: hidden;
    }

.yes {
    color: darkslategray;
    background-color: pink;
    width: 50%;
}

.no {
    color: pink;
    background-color: darkslategray;
    width: 5%;
    font-size: 5pt;
}
